# add a list of ignored files

tl_2019_17_tabblock10.shp
Chicago_TNC_Trips_20.H5
Monthly Suppressed Trips.csv
Monthly_Trip_Records_No_Suppressed.csv
Raw_Trip_Records_No_Suppressed.csv
Transportation_Network_Providers_-_Trips.csv
2019_Weekday_Monthly_Ridehail_TOD.csv
Graph.obj
illinois-latest.osm.pbf
Empty_Chicago_Matrix.csv
il_od_main_JT00_2018.csv
Chi_Estimation_File.csv
CHI_LEHD_OD.csv
OTP_Transit_Travel_Times.csv
